/* Common styles used everywhere */

/* Colours used */

$black: #222;
$olive: #99bd1d;
$orange: orange;
$red: #bd1021;
$lightgrey: #f0f0f0;
$midgrey: #777;
$darkgrey: #444;
$white: #fff;

/* Page body */

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: $black;
    background-color: $white;
    margin: 0px;
    padding: 0px;

    &.slim {
        background-color: $lightgrey;
    }
}

/* Menus */

.menu {
    display: none;
    z-index: 10000;
    position: absolute;
    color: $white;
    background-color: $darkgrey;
    font-size: small;

    ul {
        padding: 0px;
        margin: 0px;

        li {
            list-style-type: none;
            white-space: nowrap;
            padding: 4px;
            border-bottom: 1px solid $midgrey;

            &:last-child {
                border-bottom: 0px;
            }

            a {
                display: block;
                color: $white;

                &:hover {
                    text-decoration: none;
                    background-color: $midgrey;
                }
            }
        }
    }
}

/* Toolbar */

#toolbar {
    width: 100%;
    height: 25px;
    border-bottom: 4px solid $black;
    margin: 0px;
    color: $white;
    background-color: $black;
    font-size: small;
    line-height: 20px;

    #tabs {
        a {
            display: inline-block;
            width: 150px;
            height: 20px;
            text-align: center;
            font-weight: bold;

            &#view {
                border-top: 5px solid $olive;

                &.active, &:hover {
                    background-color: $olive;
                }
            }

            &#edit {
                border-top: 5px solid $orange;

                &.active, &:hover {
                    background-color: $orange;
                }
            }

            &#history {
                border-top: 5px solid $red;

                &.active, &:hover {
                    background-color: $red;
                }
            }
        }
    }

    a {
        color: $white !important;

        &:hover {
            text-decoration: none;
            border-top-color: $midgrey !important;
        }
    }

    #login {
        margin-top: 5px;

        #userprompt {
            font-weight: lighter;
        }

        #username {
            font-weight: bold;
        }

        #loginprompt {
            font-weight: lighter;
        }

        #signupprompt {
            font-weight: lighter;
        }

        #loginprompt:hover, #signupprompt:hover {
            text-decoration: underline;
        }

        #notifications {
            padding: 1px 3px 1px 3px;
            color: $white;
            background-color: $red;
            font-weight: bold;
        }
    }

    #tools {
        margin-top: 5px;
        font-weight: lighter;
    }
}

/* Masthead */

#masthead {
    height: 80px;
    border-bottom: 5px solid $olive;
    background-color: $white;

    #osmlogo {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        border: 0;
    }

    #siteid {
        padding-top: 15px;

        #sitename {
            font-size: x-large;
        }

        #slogan {
            color: $olive;
            font-size: smaller;
        }
    }
}

/* Search box */

#search_container {
    position: absolute;
    top: 45px;
    font-size: 13px;
    line-height: 14px;

    #search_form {
        input#query {
            width: 150px;
            height: 20px;
        }

        input#submit {
            position: relative;
            top: 6px;
        }
    }

    ul#search_links {
        padding: 0px;
        border: 0px solid $midgrey;
        margin: 8px 0px;
        color: $midgrey;

        li {
            display: inline;
            list-style-type: none;

            a {
                color: $midgrey;
            }
        }
    }
}

/* Main content area */

#content {
    position: absolute;
    top: 114px;
    bottom: 0px;
    padding: 3px 8px 4px 8px;
    line-height: 1.2em;
}

/* Flash notices */

.flash {
    padding: 7px;
    margin: 5px 5px 15px 5px;

    &.error {
        background-color: $red;
    }

    &.warning {
        background-color: $orange;
    }

    &.notice {
        color: $white;
        background-color: $olive;
    }

    a {
        color: $white;
    }
}

/* Map sidebar */

#sidebar {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 30%;
    margin: 0px;
    border: 0px solid $olive;
    padding: 0px;

    .sidebar_title {
        width: 100%;
        padding: 0px 0px 2px 0px;
        margin: 0px;
        color: $white;
        background-color: $olive;
        font-size: medium;
        font-weight: bold;

        #sidebar_close a {
            color: $white;
            font-weight: normal;
            font-size: smaller;
        }
    }

    #sidebar_content {
        overflow: auto;
        position: absolute;
        top: 29px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 4px;
        font-size: 13px;
        line-height: 14px;
    }
}

/* Map */

#map {
    padding: 0px;
    border: 0px;
    margin: 0px;

    .olControlAttribution {
        bottom: 10px;
        height: 50px;
        right: 10px;
        color: black;
        font-size: smaller;

        img {
            vertical-align: middle;
        }
    }

    .olControlLayerSwitcher .layersDiv {
        color: black;
        background-color: $midgrey;
    }

    #mapinfo {
        z-index: 1000;
        position: absolute;
        bottom: 0px;
        height: 70px;
        left: 0px;
        right: 0px;
        background-color: transparentize($midgrey, 0.25);
    }

    #maplinks {
        z-index: 10000;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: right;
        font-size: smaller;
    }
}

/* Information bar */

#infobar {
    position: absolute;
    top: 114px;
    bottom: 0px;
    width: 200px;
    font-size: small;
    color: $darkgrey;
    background-color: $lightgrey;
    border: 0px solid $olive;

    h1 {
        width: 195px;
        padding-bottom: 2px;
        margin: 0;
        color: $white;
        background-color: $olive;
        font-size: medium;
    }

    ul {
        padding: 0px;
    }

    ul, p {
        list-style-type: none;
    }

    a {
        color: $darkgrey;
    }

    img {
        border: 0px;
    }

    #support {
        padding: 0px;
        margin: 0px;
        font-size: smaller;
    }
}

/* Attribution text */

#attribution {
    display: none;
}

/* Front page view */

.site_index {
    #content {
        padding: 0px 5px 0px 0px;

        #map {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    }
}

/* Edit view */

.site_edit {
    #masthead {
        display: none;
    }

    #content {
        top: 29px;
        padding: 0px;
        border-top: 4px solid $olive;

        #map {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    }

    #infobar {
        display: none;
    }
}
