/* Styles specific to large screens  */

/* Rules for the main content area */

#content {
  top: 114px;
}

#content.site_edit {
	top: 29px;
	border-top: 4px solid #99BD1D;
}

/* Rules for OpenLayers maps */

.olControlPanZoom {
  display: none;
}
