/* Styles specific to large screens  */

/* Rules for greeting bar in the top right corner */

#small-greeting {
  display: none;
}

/* Rules for the main content area */

#content {
  top: 119px;
}

#content.site_edit {
	top: 34px;
	border-top: 4px solid #99BD1D;
}

/* Rules for OpenLayers maps */

.olControlPanZoom {
  display: none;
}
