/* osm.ru-style
	green: #99BD1D
	red: #BD1021
*/

/* Top tab bar */

#black_bar {
	height: 30px;
	background-color: #222;
	width: 100%;
	border-bottom: 4px solid #222;
	margin: 0px;
	line-height: 20px;
	color: white;
}

#black_bar .top_tab {
	display: inline-block;
	width: 150px;
	text-align: center;
	height: 25px;
	font-weight: bold;
}

#black_bar .top_tab#view    { border-top: 5px solid #99BD1D; margin-left: 10px;}
#black_bar .top_tab#edit    { border-top: 5px solid orange; }
#black_bar .top_tab#history { border-top: 5px solid #BD1021; }

#black_bar .top_tab#view.active,    #black_bar a:hover#view    { background-color: #99BD1D; }
#black_bar .top_tab#edit.active,    #black_bar a:hover#edit    { background-color: orange; }
#black_bar .top_tab#history.active, #black_bar a:hover#history { background-color: #BD1021; }

#black_bar a { color:white !important; }
#black_bar a:hover { text-decoration: none; }
#black_bar a:hover { border-top-color: #888 !important; }

#black_bar #login {
	position: absolute;
	right: 10px;
	top: 5px;
}

#black_bar #login #tools {
	margin-right: 10px;
	font-weight: lighter;
}

#black_bar #login #userprompt   { font-weight: lighter; }
#black_bar #login #username     { font-weight: bold; }
#black_bar #login #loginprompt  { font-weight: lighter; }
#black_bar #login #signupprompt { font-weight: lighter; margin-left: 10px; }
a:hover#loginprompt,a:hover#signupprompt { text-decoration: underline; }


#black_bar #login #notifications {
	color: white;
	background: #BD1021;
	font-weight: bold;
	padding: 1px 3px 1px 3px;
}

/* Masthead */

#masthead {
	height: 80px;
	background-color: white;
	border-bottom: 5px solid #99BD1D;
}

#masthead #siteid {
	padding-top: 15px;
	margin-left: 90px;
}
#masthead #sitename {
	font-size: x-large;
}
#masthead #slogan {
	font-size: smaller;
	color: #99BD1D;
}

/* Search */

#search_container {
  position: absolute;
  right: 10px;
  top: 50px;
  text-align: right;
  font-size: 13px;
  line-height: 14px;
}

#search_field form {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#query {
	width: 150px;
	height: 20px;
}

#searchbutton {
	position: relative;
	top: 6px;
margin-left: -22px;
}

#search_links {
  margin: 8px 0px;
  padding: 0px;
  color: #777;
}
#search_links li {
  display: inline;
  list-style-type: none;
  padding-left: 5px;
  border-left: 1px solid #777;
}
#search_links li:first-child {
	border-left: none;
}

#search_links a {
	color: #777;
}

/* Right-hand info */

#right_info {
  position: absolute;
  top: 119px;
  right: 0px;
  width: 190px;
  font-size: small;
  color: #444;
}

#right_info h1 {
	background-color: #99BD1D;
	color: white;
	width: 100%;
	margin: 0;
	margin-left: -5px;
	border-left: 5px solid #99BD1D;
	padding-bottom: 2px;
	font-size: medium;
}

#right_info ul,#right_info p {
	list-style-type: none;
	padding: 0;
	margin: 5px 5px 5px 0;
}

#right_info a {
	color: #444;
}

#right_info img {
	border: 0;
}

/* Drop-down menus */

.menu {
  display: none;
  z-index: 10000;
  position: absolute;
  background-color: #444;
  color: white;
}

.menu ul {
  margin: 0px;
  padding: 0px;
}

.menu li {
  list-style-type: none;
  white-space: nowrap;
  border-bottom: 1px solid #777;
  padding: 4px 10px 4px 4px;
}

.menu li a {
	display: block;
	color: white;
}

.menu li a:hover {
	background-color: #666;
}

.menu li:last-child {
	border-bottom: 0px;
}

/* Pop-out sidebar */

#sidebar {
  display: none;
  position: absolute;
  border-right: 4px solid #99BD1D;
  margin: 0px;
  padding: 0px;
  width: 30%;
  top: 0px;
  bottom: 0px;
}

#sidebar #sidebar_content {
  overflow: auto;
  position: absolute;
  font-size: 13px;
  line-height: 14px;
  top: 29px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 4px;
}

#sidebar .sidebar_title {
	background-color: #99BD1D;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0px 0px 2px 0px;
	font-size: medium;
	font-weight: bold;
}

#sidebar_close a {
	color: white;
	font-weight: normal;
	font-size: smaller;
}
