/* Styles for RTL languages */

/*
 * Rules for alert boxes shown in the left sidebar when important
 * information needs to be conveyed such as when the site is
 * undergoing maintenance.
 */

#alert {
  text-align: right;
}

/*
 * Rules for notice boxes shown in the left sidebar when important, but
 * non-critical information needs to be conveyed such as notices about
 * donation drives.
 */

.notice {
  text-align: right;
}

/* Rules for the message shown in place of the map when javascript is disabled */

#noscript {
  right: 15px
}

/* Rules for attribution text under the main map shown on printouts */

.attribution_license {
  text-align: right;
}

.attribution_project {
  text-align: left;
}

/* Rules for the main content area */

#slim_header img {
  margin-left: 5px;
}

/* Rules for the copyright page */

#cc_logo {
  float: left;
}

/* Rules for the changeset list shown by the history tab etc */

#changeset_list {
  text-align: right;
}

#changeset_list_map {
  float: left;
  left: 0px;
}

/* Rules for the data browser */

#browse_navigation {
  float: left;
  margin-right: 10px;
}

#browse_map {
  float: left;
  text-align: left;
  margin-right: 10px;
}

/* Rules for the trace list shown by the traces tab etc */

#trace_list {
  text-align: right;
}

/* Rules for the diary list */

.diary_entry_list img.user_thumbnail {
  float: left;
}

/* Rules for the diary entry view */

.diary_entry_view img.user_image {
  float: left;
}

.diary_entry_view img.user_thumbnail {
  float: left;
}

/* Rules for the user list */

#user_list_actions {
  float: left;
}

/* Rules for the account confirmation page */

form#termsForm div#buttons {
  float: left;
}

form#termsForm input#agree {
  margin-right: 50px;
}

/* Rules for the user view */

.user_view img.user_image {
  float: left;
}

.user_view .user_map {
  float: left;
}

/* Rules for rails validation error boxes */

#errorExplanation h2 {
  text-align: right;
  padding: 5px 15px 5px 5px;
}

/* Rules for forms */

.fieldName {
  text-align: left;
}

.submitButton {
  text-align: left;
}

input.openid_url { 
  background: image-url('openid_input.png') repeat-y right white;
  padding-right: 16px;
}
