/* Styles for RTL languages */

/* Page body */

body {
  text-align: right;
}

/* Menus */

.menu {
    ul {
        li {
            padding-left-width: 10px;
        }
    }
}

/* Toolbar */

#toolbar {
    #tabs {
        margin-right: 10px;
    }

    #login {
        float: left;
        margin-left: 10px;
    }

    #signupprompt {
        margin-right: 10px;
    }

    #tools {
        float: left;
        margin-left: 14px;
    }
}

/* Masthead */

#masthead {
    #osmlogo {
        float: right;
        margin-right: 10px;
    }

    #siteid {
        margin-right: 90px;
    }
}

/* Search box */

#search_container {
    left: 10px;
    text-align: left;

    #search_form {
        input#submit {
            margin-right: -22px;
        }
    }

    ul#search_links {
        li {
            padding-right: 5px;
            border-right-width: 1px;
            margin-right: 2px;

            &:first-child {
                border-right: none;
            }
        }
    }
}

/* Main content area */

#content {
    left: 200px;
    right: 0px;
    text-align: right;
}

/* Map sidebar */

#sidebar {
    right: 0px;
    border-left-width: 4px;

    #sidebar_title {
        text-align: right;
    }

    #sidebar_close {
        text-align: left;
    }
}

/* Information bar */

#infobar {
    left: 0px;
    border-right-width: 5px;

    h1 {
        padding-right: 5px;
    }

    div, ul, p {
        padding-right: 5px;
    }

    ul, p {
        margin: 5px 0px 5px 5px;
    }
}

/* Edit view */

.site_edit {
    #content {
        left: 0px;
    }
}
