/* Styles specific to a small screen, such as iPhone, Android, etc... */

/* Page body */

body {
    font-size: 12px;

    h1 {
        font-size: 14px;
    }
}

/* Toolbar */

#toolbar {
    height: 20px;
    line-height: 15px;

    #tabs a {
        width: 50px;
        height: 15px;
    }

    #userprefix {
        display: none;
    }
}

/* Masthead */

#masthead {
    height: 50px;

    #osmlogo {
        margin-top: 7px;
        height: 40px;
        width: 40px;
    }

    #siteid { 
        padding-top: 13px;
        margin-left: 60px;

        #sitename {
            font-size: large;
        }

        #slogan {
            display: none;
        }
    }
}

/* Search box */

#search_container {
    top: 30px;

    #search_form {
        input#query {
            width: 100px;
        }
    }

    ul#search_links {
        font-size: x-small;
        margin-top: 2px;
    }
}

/* Main content area */

#content {
    left: 0px;
    right: 0px;
    top: 79px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Map */

#map {
    .olControlPanZoomBar {
        display: none;
    }
}

/* Information bar */

#infobar {
    display: none;
}

/* Edit view */

.site_edit {
    #content {
        padding: 0px;
    }
}
